.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
draft
*.sqlite
.Renviron
.lintr
orderly_envir.yml
.Rdata
runner
backup
remote
*.DS_Store
_bookdown_files

src/*.html

archive/deaths_averted_plot_timeline/*
!archive/deaths_averted_plot_timeline/20230428-135738-55b941fa/
archive/generate_counterfactuals/*
!archive/generate_counterfactuals/20230428-124903-1a938726/
archive/generate_production_counterfactual/*
!archive/generate_production_counterfactual/20230428-121454-5d0e91c7/
archive/generate_vaccine_counterfactual/*
!archive/generate_vaccine_counterfactual/20230428-121455-0c2b6b09/
archive/preprint/*
!archive/preprint/20230428-140338-b761939d

plots/*
!plots/*.Rmd