.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
draft
*.sqlite
.Renviron
.lintr
orderly_envir.yml
.Rdata
runner
backup
remote
*.DS_Store
_book
_bookdown_files
src/input_sequencing/metadata.tsv
src/*.html

archive/.orderly_archive_version

figure/report_files/

archive/deaths_averted_plot_timeline/*
!archive/deaths_averted_plot_timeline/20230506-175801-2bed9408/
archive/generate_counterfactuals/*
!archive/generate_counterfactuals/20230506-172630-1224e834/
archive/generate_production_counterfactual/*
!archive/generate_production_counterfactual/20230506-162717-365a7d49/
archive/generate_vaccine_counterfactual/*
!archive/generate_vaccine_counterfactual/20230506-162717-d95884e3/
archive/input_excess_mortality/*
!archive/input_excess_mortality/20230505-171239-48a6d9dd/
archive/input_jhu/*
!archive/input_jhu/20230505-171241-f7e85c67/
archive/input_sequencing/*
!archive/input_sequencing/20230505-171542-2edaf1dd/
archive/input_vaccinations/*
!archive/input_vaccinations/20230505-171527-b75eedaf/
archive/lmic_reports_rt_optimise/*
!archive/lmic_reports_rt_optimise/20230505-193412-ccc99dfc/
archive/parameters_vaccines/*
!archive/parameters_vaccines/20230505-171154-38bf3c7e/
archive/preprint/*

/report.*
!/report.md
